<div id="lifeDemo" class="pcjsContainer">
  <div id="game-of-life" class="pcjsTitle">Game of Life</div>
  <div id="displayLife"></div>
  <div class="pcjsControls">
    <div class="pcjsControl"><button id="runLife">Run</button></div>
    <div class="pcjsControl"><button id="stepLife">Step</button></div>
    <div class="pcjsControl"><button id="resetLife">Reset</button></div>
    <div class="pcjsControl"><input type="range" min="1" max="120" value="15" class="slider" id="throttleLife"></div>
    <div class="pcjsControl"><span id="speedLife" style="font-size:small">Stopped</span></div>
  </div>
  <div class="pcjsControls">
    <div class="pcjsControl"><select id="patternsLife"><option value="">None</option></select></div>
    <div class="pcjsControl"><button id="saveLife">Save to URL</button></div>
  </div>
</div>
<div class="pcjsDiagnostics">
  <div>
    <div>Diagnostics</div>
    <textarea id="printLife" class="pcjsConsole" cols="128" rows="20"></textarea>
  </div>
  <button id="clearLife">Clear</button>
</div>
