{% capture title %}{{ include.title | default: "Documents" }}{% endcapture %}
{% capture group %}{{ include.group | default: "@documents" }}{% endcapture %}
{% capture group_id %}{{ title | replace: "@", "" | replace: " ", "-" | downcase }}{% endcapture %}
{% capture cover_width %}{{ include.width | default: "200" }}{% endcapture %}
{% capture cover_height %}{{ include.height | default: "" }}{% endcapture %}
{% assign path = include.path | default: page.permalink %}
{% assign path_parts = path | split: "/" %}
{% assign tag = include.tag | default: "" %}
{%- assign docs_exist = false -%}
{%- for part in path_parts -%}
  {%- if part == "" -%}{% continue %}{%- endif -%}
  {%- if part == "machines" -%}
    {%- assign data = site.data.hardware -%}
  {%- elsif part == "software" -%}
    {%- assign data = site.data.software -%}
  {%- elsif part == "documents" -%}
    {%- assign data = site.data.documents -%}
  {%- else -%}
    {%- if part == "magazines" -%}{%- unless include.title -%}{%- assign title = "Issues" -%}{%- endunless -%}{%- endif -%}
    {%- if data[part] -%}
      {%- assign data = data[part] %}
    {%- elsif data['@products'] -%}
      {%- assign data = data['@products'][part] -%}
    {%- elsif data['@versions'] -%}
      {%- assign data = data['@versions'][part] -%}
    {%- else %}
      {%- assign data = data['@instances'][part] -%}
      {%- if data['@type'] -%}
        {%- assign data = site.data[part].software -%}
      {%- endif -%}
    {%- endif -%}
    {%- unless data -%}{%- break -%}{%- endunless %}
    {%- assign docs = data[group] -%}
    {%- unless docs -%}
      {%- assign docs = data['@instances'][''][group] -%}
    {%- endunless -%}
    {%- if docs -%}
      {%- if docs_exist == false %}
  <h3 id="{{ group_id }}">{{ title }}</h3>
      {%- endif -%}
      {%- assign docs_exist = true -%}
      {%- include gallery/begin.html -%}
      {%- for doc in docs -%}
        {%- assign doc_title = doc['@title'] -%}
        {%- assign doc_tags = doc['@tags'] | default: "" -%}
        {%- if doc_title != "" and doc_tags contains tag -%}
          {%- assign doc_file = doc['@file'] -%}
          {%- assign doc_id = doc_file | replace: ".pdf","" | replace: ".png","" | downcase -%}
          {%- capture doc_path -%}{{ path }}{{ doc_file }}{%- endcapture -%}
          {%- assign doc_link = doc['@link'] | default: doc_path -%}
          {%- assign doc_cover = doc['@cover'] | default: "/documents/covers/default.jpg" -%}
          {%- assign doc_width = doc['@width'] | default: cover_width -%}
          {%- assign doc_height = doc['@height'] | default: cover_height -%}
          {%- if doc_cover == ".jpg" or doc_cover == ".png" -%}
            {%- capture doc_cover -%}{{ path }}covers/{{ doc_file | replace: ".pdf",doc_cover | replace: ".png",doc_cover }}{%- endcapture -%}
          {%- endif -%}
          {%- assign doc_source = doc['@source'] -%}
          {%- include gallery/image.html id=doc_id image=doc_cover link=doc_link title=doc_title width=doc_width height=doc_height source=doc_source external=true -%}
        {%- endif -%}
      {%- endfor -%}
      {%- include gallery/end.html -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- if docs_exist == false %}
  <h3 id="{{ group_id }}">{{ title }}</h3>
  <p>No documents available for {{ page.title }}</p>
{%- endif -%}
