{%- assign include_width = "" -%}
{%- assign include_height = "" -%}
{%- if include.width -%}
  {% capture include_width %} width="{{ include.width }}"{% endcapture %}
{%- endif -%}
{%- if include.height -%}
  {% capture include_height %} height="{{ include.height }}"{% endcapture %}
{%- endif -%}
{%- if include.id -%}
  {% capture include_id %} id="{{ include.id }}"{% endcapture %}
{%- endif -%}
<div class="pcjs-gallery-frame"{{ include_id }}>
{%- capture include_image -%}{{ site.baseurl }}{{ include.image | default: include.src }}{%- endcapture -%}
{%- if include_image %}
	<div class="pcjs-gallery-image">
  {%- if include.link -%}
    {%- capture include_link %}href="{{ site.baseurl }}{{ include.link }}"{%- if include.external %} target="_blank"{%- endif -%}{%- endcapture -%}
    <a {{ include_link }}>
      <img src="{{ include_image }}"{{ include_width }}{{ include_height }} alt="{{ include.title }}"/>
    </a>
  {%- else %}
    <img src="{{ include_image }}"{{ include_width }}{{ include_height }} alt="{{ include.title }}"/>
  {%- endif %}
  </div>
  <span class="pcjs-gallery-label">{{ include.title }}</span>
  {%- if include.source contains "http" %}
  <br/><span class="pcjs-gallery-label">[<a href="{{ include.source }}">Source</a>]</span>
  {%- endif -%}
{%- else %}
  <span class="pcjs-gallery-label"><a href="{{ site.baseurl }}{{ include.link }}">{{ include.title }}</a></span>
{%- endif -%}
</div>
