<div id="{{ include.id }}" class="fillTI57">
  <img id="imageTI57" src="/machines/ti/ti57/images/ti57.png" width="100%" alt="TI-57 Programmable Calculator">
  <div id="displayTI57"></div>
  <div id="ind2ndTI57" class="indTI57">2nd</div>
  <div id="indINVTI57" class="indTI57">INV</div>
  <div id="indDegTI57" class="indTI57">Deg</div>
  <div id="indRadTI57" class="indTI57">Rad</div>
  <div id="indGradTI57" class="indTI57">Grad</div>
  <button id="powerTI57">Power</button>
</div>
<div class="diagsTI57">
  <div>
    <p>Debugger</p>
    <textarea id="printTI57" cols="74" rows="16"></textarea>
  </div>
  <button id="resetTI57">Reset</button>
  <button id="runTI57">Run</button>
  <button id="stepTI57">Step</button>
  <button id="clearTI57">Clear</button>
  <span id="speedTI57">Stopped</span>
</div>
