root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{css,scss,html,yml,json}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{xml,xsl}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.{ASM,MAC,asm,mac}]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true
