*.img
*.log
*.obj
*.out
.DS_Store
.history
.jekyll-metadata
.sass-cache
Thumbs.db
bun.lockb
Gemfile.lock
package-lock.json
archive
private
tmp
/_site
/lcm
/disks
/node_modules
/tools/pc/disks/*
!/tools/pc/disks/README.txt
!/tools/pc/disks/empty/README.txt
