    <script>
      function pcjsGetURLVars() {
        let vars = {};
        let parts = window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
          vars[key] = value;
        });
        return vars;
      }
      function pcjsOnClick(element, event) {
        element.href += window.location.search;
      }
      function pcjsExplorerClick(element, event) {
        if (element.classList.contains("pcjs-explorer-open")) {
          element.classList.add("pcjs-explorer-closed");
          element.classList.remove("pcjs-explorer-open");
        } else {
          element.classList.add("pcjs-explorer-open");
          element.classList.remove("pcjs-explorer-closed");
        }
        event.stopPropagation();
      }
      function pcjsExplorerExpand(path) {
        if (path) {
          let element;
          let id = path.substr(1).replace(/\//g, '-').replace(/^(documents|machines|software)-/, '').replace(/-$/, '');
          do {
            element = document.getElementById(id);
            if (element) break;
            let idNew = id.replace(/-[^-]+$/, '');
            if (idNew == id) break;
            id = idNew;
          } while (true);
          if (element) {
            let parent;
            element.classList.add("pcjs-explorer-selected");
            while ((parent = element.parentElement)) {
              if (parent.classList.contains("pcjs-explorer-closed")) {
                parent.classList.add("pcjs-explorer-open");
                parent.classList.remove("pcjs-explorer-closed");
              }
              element = parent;
            }
          }
        }
      }
      function pcjsExplorerView(element, event) {
        event.preventDefault();
        let target = document.getElementById("pcjs-hardware");
        if (target) target.scrollIntoView({behavior:"smooth"});
      }
      function pcjsExplorerInit() {
        pcjsExplorerExpand(window.location.pathname);
        pcjsExplorerExpand(pcjsGetURLVars()['software']);
      }
      pcjsExplorerInit();
    </script>
