<div class="pcjs-explorer">
  <h2 id="pcjs-explorer">PCjs Explorer</h2>
  <ul id="pcjs-explorer-menu" class="menu">
    <li><a href="#" onclick="pcjsExplorerExpandAll(this, event, true)">Expand All</a></li>
    <li><a href="#" onclick="pcjsExplorerExpandAll(this, event, false)">Collapse All</a></li>
    <li><a href="#" onclick="pcjsExplorerSurprise()">Surprise Me</a></li>
  </ul>
{% include explorer/hardware.html %}
{% include explorer/software.html %}
{% include explorer/documents.html %}
</div>
{% include explorer/scripts.html %}
