<div id="{{ include.id }}" class="pcjs-chassis-clear">
  <div class="pcjs-chassis-image">
    <img id="imageIIIc" title="Palm IIIc" tabindex="0" src="/machines/palm/iiic/images/palm-iiic.png" draggable="false" style="display:block; margin:0; outline:none; width:100%; height:auto; user-select:none; touch-action:none;">
    <div id="monitorIIIc" class="pcjs-monitor" style="width:68.52%; height:43.42%; top:10.85%; left:17.99%; pointer-events:none;"></div>
  </div>
</div>
<div class="pcjs-diagnostics">
  <div>
    <label>Diagnostics<br>
      <textarea id="printIIIc" class="pcjs-console" cols="128" rows="20"></textarea>
    </label>
  </div>
  <button id="resetIIIc">Reset</button>
  <button id="runIIIc">Run</button>
  <button id="stepIIIc">Step</button>
  <button id="clearIIIc">Clear</button>
  <span id="speedIIIc" style="font-size:small">Stopped</span>
</div>
