<div id="{{ include.id }}" class="pcjs-chassis-clear">
  <div class="pcjs-chassis-image">
    <img id="imagePilot" title="Palm Pilot" tabindex="0" src="/machines/palm/pilot/images/pilot-off.png" draggable="false" style="display:block; margin:0; outline:none; width:100%; height:auto; user-select:none; touch-action:none;">
    <div id="monitorPilot" class="pcjs-monitor" style="width:68.97%; height:46.87%; top:12.65%; left:16.53%; pointer-events:none;"></div>
  </div>
</div>
<div class="pcjs-diagnostics">
  <div>
    <label>Diagnostics<br>
      <textarea id="printPilot" class="pcjs-console" cols="128" rows="20"></textarea>
    </label>
  </div>
  <button id="resetPilot">Reset</button>
  <button id="runPilot">Run</button>
  <button id="stepPilot">Step</button>
  <button id="clearPilot">Clear</button>
  <span id="speedPilot" style="font-size:small">Stopped</span>
</div>
