<div class="machine">
  <h3>VT100 Terminal</h3>
  <div id="{{ include.id }}" class="pcjs-chassis">
    <div class="pcjs-controls-top">
      <div class="pcjs-block-control"><button class="pcjs-block-button" id="powerVT100">Power</button></div>
      <div class="pcjs-block-control"><div class="pcjs-label-right">ON&nbsp;LINE</div><div class="pcjs-led-large" id="ledOnlineVT100"></div></div>
      <div class="pcjs-block-control"><div class="pcjs-label-right">LOCAL</div><div class="pcjs-led-large" id="ledLocalVT100"></div></div>
      <div class="pcjs-block-control"><div class="pcjs-label-right">LOCKED</div><div class="pcjs-led-large" id="ledLockedVT100"></div></div>
      <div class="pcjs-block-control"><div class="pcjs-label-right">L1</div><div class="pcjs-led-large" id="led1VT100"></div></div>
      <div class="pcjs-block-control"><div class="pcjs-label-right">L2</div><div class="pcjs-led-large" id="led2VT100"></div></div>
      <div class="pcjs-block-control"><div class="pcjs-label-right">L3</div><div class="pcjs-led-large" id="led3VT100"></div></div>
      <div class="pcjs-block-control"><div class="pcjs-label-right">L4</div><div class="pcjs-led-large" id="led4VT100"></div></div>
      <div class="pcjs-block-control"><div class="pcjs-label-right">CAPS</div><div class="pcjs-led-large" id="ledCapsVT100"></div></div>
    </div>
    <div id="monitorVT100" class="pcjs-monitor">
      <canvas id="surfaceVT100" class="pcjs-surface" width="1600" height="960"></canvas>
    </div>
    <div class="pcjs-controls-bottom">
      <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyCapsLockVT100">CAPS LOCK</button></div>
      <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyCtrlCVT100">CTRL-C</button></div>
      <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyBreakVT100">BREAK</button></div>
      <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyEscVT100">ESC</button></div>
      <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyTabVT100">TAB</button></div>
      <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyLineFeedVT100">LINE&nbsp;FEED</button></div>
      <div class="pcjs-block-control"><button class="pcjs-block-button" id="keySetupVT100">SET-UP</button></div>
      <div class="pcjs-block-control"><button class="pcjs-block-button" id="zoomVT100">Full Screen</button></div>
    </div>
  </div>
</div>