<div id="{{ include.id }}" class="pcjs-chassis">
  <div class="pcjs-controls-top">
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="powerVT100b">Power</button></div>
    <div class="pcjs-block-control"><div class="pcjs-label-right">ON&nbsp;LINE</div><div class="pcjs-led-large" id="ledOnlineVT100b"></div></div>
    <div class="pcjs-block-control"><div class="pcjs-label-right">LOCAL</div><div class="pcjs-led-large" id="ledLocalVT100b"></div></div>
    <div class="pcjs-block-control"><div class="pcjs-label-right">LOCKED</div><div class="pcjs-led-large" id="ledLockedVT100b"></div></div>
    <div class="pcjs-block-control"><div class="pcjs-label-right">L1</div><div class="pcjs-led-large" id="led1VT100b"></div></div>
    <div class="pcjs-block-control"><div class="pcjs-label-right">L2</div><div class="pcjs-led-large" id="led2VT100b"></div></div>
    <div class="pcjs-block-control"><div class="pcjs-label-right">L3</div><div class="pcjs-led-large" id="led3VT100b"></div></div>
    <div class="pcjs-block-control"><div class="pcjs-label-right">L4</div><div class="pcjs-led-large" id="led4VT100b"></div></div>
    <div class="pcjs-block-control"><div class="pcjs-label-right">CAPS</div><div class="pcjs-led-large" id="ledCapsVT100b"></div></div>
  </div>
  <div id="monitorVT100b" class="pcjs-monitor">
    <canvas id="surfaceVT100b" class="pcjs-surface" width="1600" height="960"></canvas>
  </div>
  <div class="pcjs-controls-bottom">
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyCapsLockVT100b">CAPS LOCK</button></div>
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyCtrlCVT100b">CTRL-C</button></div>
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyBreakVT100b">BREAK</button></div>
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyEscVT100b">ESC</button></div>
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyTabVT100b">TAB</button></div>
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="keyLineFeedVT100b">LINE&nbsp;FEED</button></div>
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="keySetupVT100b">SET-UP</button></div>
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="zoomVT100b">Full Screen</button></div>
  </div>
</div>
