<div id="{{ include.id }}" class="pcjs-chassis">
  <div class="pcjs-controls-right">
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="powerInvaders">Power</button></div>
    <div class="pcjs-block-control"><button class="pcjs-block-button" id="zoomInvaders">Full Screen</button></div>
  </div>
  <div id="monitorInvaders" class="pcjs-monitor"></div>
  <div class="pcjs-controls-left">
    <div class="pcjs-dip">
      <label>DIP Switches<br>
        <div id="sw1" class="pcjs-dip-switch pcjs-dip-switch-off">1</div>
        <div id="sw2" class="pcjs-dip-switch pcjs-dip-switch-off">2</div>
        <div id="sw3" class="pcjs-dip-switch pcjs-dip-switch-off">3</div>
        <div id="sw4" class="pcjs-dip-switch pcjs-dip-switch-off">4</div>
        <div id="sw5" class="pcjs-dip-switch pcjs-dip-switch-off">5</div>
        <div id="sw6" class="pcjs-dip-switch pcjs-dip-switch-off">6</div>
        <div id="sw7" class="pcjs-dip-switch pcjs-dip-switch-off">7</div>
        <div id="sw8" class="pcjs-dip-switch pcjs-dip-switch-off">8</div>
      </label>
    </div>
  </div>
</div>
<div class="pcjs-diagnostics">
  <div>
    <label>Diagnostics<br>
      <textarea id="printInvaders" class="pcjs-console" cols="128" rows="20"></textarea>
    </label>
  </div>
  <button id="resetInvaders">Reset</button>
  <button id="runInvaders">Run</button>
  <button id="stepInvaders">Step</button>
  <button id="clearInvaders">Clear</button>
  <span id="speedInvaders" style="font-size:small">Stopped</span>
</div>
