<div id="pdp1120" class="pcjs-chassis">
  <div class="pcjs-controls-right">
    <div class="pcjs-block-control"><button class="pcjs-button" id="powerPDP11">Power</button></div>
  </div>
</div>
<div class="pcjs-diagnostics">
  <div>
    <div>Diagnostics</div>
    <textarea id="printPDP11" class="pcjs-console" cols="128" rows="20"></textarea>
  </div>
  <button id="resetPDP11">Reset</button>
  <button id="runPDP11">Run</button>
  <button id="stepPDP11">Step</button>
  <button id="clearPDP11">Clear</button>
  <button id="setSpeedPDP11">Speed</button>
</div>
